html {
  box-sizing: border-box;
  height: 100%;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
html,
body {
  position: relative;
  overflow-x: hidden;
}
h1,h2,h3,h4,h5,h6{
  padding: 0;
  margin: 0;
}
a {
  display: inline-block;
  text-decoration: none;
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
body {
  font-family: 'proxi';
  font-weight: 4s00;
  font-size: 16px;
  color: $main-color;
}
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.content {
  flex: 1 0 auto;
}
.footer {
  flex: 0 0 auto;
}
.container {
  max-width: 975px;
  margin: 0 auto;
  padding: 0 15px;
}
.red-btn{
  border-radius: 5px;
  background: linear-gradient( 69deg, rgb(193,23,23) 0%, rgb(228,38,38) 100%);
  padding: 8px 20px;
  color: #fff;
  font-weight: 700;
  font-size: 12px;
}
.light-red{
  background: linear-gradient(90deg, rgb(193,11,11) 0%, rgb(228,38,38) 100%);
  border-radius: 5px;
  padding: 23px 45px;
  color: #fff;
  font-weight: 700;
  font-size: 18px;
}
.section-title{
  font-weight: 700;
  font-size: 30px;
  text-align: center;
}